* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
 background-color: #ccc;
}
#delBtn:hover {
 background-color: red;
}
#doneBtn:hover {
 background-color: green;
}
#today-task:focus {
 box-shadow:none!important;
}